@import "tailwindcss";

@theme {
  --color-brand-50: #f4f6ff;
  --color-brand-100: #e7ecff;
  --color-brand-200: #ced8ff;
  --color-brand-300: #a5baff;
  --color-brand-400: #7594ff;
  --color-brand-500: #4063ff;
  --color-brand-600: #1c39f4;
  --color-brand-700: #0e23da;
  --color-brand-800: #1122b1;
  --color-brand-900: #14238b;
  --color-brand-950: #0e1552;
}
